.main-background {
    max-width: 100%;
    height: 20%;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-school-season-back-to-school-season-blue-cartoon-image_11842.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    /* Center Contents inside Hero */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    width: 100%;
    height: auto;
    /* Magic! */
    max-width: 50vw
    
}

img {
    max-width: 20%;
    height: auto;
}

.team-images {
    display: flex;
    justify-content: space-around;
}
.bets {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#betLabels {
  font-size: 1.9vw;
}

#bet-amount {
  width: 60%;
  height: auto;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#bet-amount:focus {
  border: 3px solid #555;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.score-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.2vw;
}

#cards {
    display: flex;
    justify-content: space-between;
}

$green: #1ECD97;
$gray: #bbbbbb;
* {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  top: 50%;
  left: 50%;
  width: 130px;
  height: 40px;
  text-align: center;
}

button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #1ECD97;
  color: #1ECD97;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  color: white;
  background: #1ECD97;
}
button:active {
  letter-spacing: 2px;
}
button:after {
  content: "BET";
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #1ECD97;
  -webkit-animation: rotating 2s 0.25s linear infinite;
          animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
  content: "";
}
.onclic:hover {
  color: #1ECD97;
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #1ECD97;
}
.validate:after {
  font-family: "FontAwesome";
  content: "ï€Œ";
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}